* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.form {
    border-radius: 3px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.input {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 6px;
    border-radius: 2px;
    color: #000;
    border: none;
    background-color: #ffffff;
}

.label {
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0 0 5px;
}

.button {
    width: 100%;
    margin: 15px 0;
    background-color: #785580;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 12px 10px;
    font-size: 1em;
    cursor: pointer;
}

body {
    background-color: #f6f0f0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f6f0f0;
}